<div class="top-bar">
  <a title="Add New" class="top-bar-item" (click)="openForm()">
      <i class="fa fa-plus has-background-success has-text-white"></i>
      Add
  </a>
  <a title="Edit Selected" class="top-bar-item" (click)="editItem()">
      <i class="fa fa-edit has-text-primary"></i>
      Edit
  </a>
  <a title="Delete Selected" class="top-bar-item" (click)="deleteIt()">
      <i class="fa fa-trash has-text-danger"></i>
      Delete
  </a>
  <a title="Mass Upload with Excel" class="top-bar-item" (click)="importIt()">
      <i class="fa fa-cloud-upload-alt has-text-success"></i>
      Upload
  </a>
</div>
